.form {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.buttonLink {
    color: #4C4CFF;
    border: none;
    background: none;
    cursor: pointer;
}
