.orders {
    /* height: calc(100vh - 260px); */
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    width: 100%;
}
.orders::-webkit-scrollbar {
    width: 8px;
}

.orders::-webkit-scrollbar-track {
    background: #2F2F37;
}

.orders::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    min-height: 200px;
}
