.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    background: #1C1C21;
    border-radius: 40px;
    z-index: 3;
    padding: 40px;
    box-sizing: border-box;
}

.close {
    position: fixed;
    top: 60px;
    right: 40px;
    cursor: pointer;
}
