.profileWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sideMenu {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 64px;
    text-decoration: none;
}

.activeNav {
    color: #fff;
}

.form {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
