.header {
    width: 100%;
    background: #1C1C21;
    box-sizing: border-box;
}

.headerInner {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}