.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calories {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 32px;
}

.header {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
